.title-comment {
  padding-top: -10px;
  font-weight: bold;
  font-size: 19px;
}

.comments {
  list-style: none;
  li {
    font-size: 12px;
    padding: 12px 0;
    border-top: 1px solid #e8e8e8;
    .comment {
      font-size: 16px;
    }
  }
}

.comment-create-at {
  color: rgb(139, 139, 139);
}

.col-md-19-destroy {
  padding-top: 3px;
}