body {  
  background-color: #ffffff;  
  color: #5c5c5c;
  font-family: Arial,
    "ヒラギノ角ゴ Pro W3",
    "Osaka,
    "メイリオ,
    "Meiryo,
    "ＭＳ Ｐゴシック,
    "MS PGothic,
    sans-serif";
}

a {
  color:#5c5c5c;
}


a:hover {
  text-decoration: none;
}


.icon::before {
  display: inline-block;
  margin-right: .5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//共通//
.dropdown {
  margin-right: 40px;
}

//ナビゲーションバーと被るため調整
body {
  padding-top: 75px;
}

ul.pf {
  margin-bottom: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.address-shop {
  font-size: 16px;
  margin-top: -8px;
  padding-left: 150px;
}

//ログイン画面


 //ユーザー編集画面
 .title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
  padding-top: 10px;
}

.account-edit {
  margin-top: 20px;
}


//ユーザー一覧ページ//
.users {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  li {
    overflow: auto;
    margin: 20px;
    padding: 12px 0;
    border-bottom: 2px solid;
  }
}
//ユーザー一覧ページ：プロフィール写真と名前の間隔調整//
.img-name {
  margin-left: 82px;
  margin-top: -70px;
  padding-bottom: 40px;
}

//ユーザー一覧ページ：プロフィール写真と名前の間隔調整//
.delete {
  margin-left: 170px;
  margin-top: -70px;
  padding-bottom: 40px;
}

h2-list {
  margin-top: 12px;
  margin-bottom: 10px;
}

/* プロフィールページ：ネコカフェ一覧表示(Shop) */
.shops {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

//// -----------------トップページ（ログイン後） -------------------- /////
// 「ねこカフェを投稿する」ボタン
.btn-record {
  margin-top: 3em;
}

//// ねこカフェ登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

///ねこカフェ詳細ページ///

.shop-name-show {
  margin-left: -18px;
}

.shop-user-name {
  display: inline-block;
}

h2.shop-name {
  border-bottom: 1px solid #bbb;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.shop-description {
  font-size: 18px;
  border-bottom: 1px solid #bbb;
  margin-top: 20px;
}

.shop-web_page {
  font-size: 18px;
  border-bottom: 1px solid #bbb;
  margin-top: 20px;
}

.shop-address {
  font-size: 18px;
  border-bottom: 1px solid #bbb;
  margin-top: 20px;
}

.title-recommended_points {
  font-size: 18px;
  font-weight: bold;
}

.points {
  padding-top: -15px;
  font-size: 18px;
  margin-top: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid #bbb;
}

.show-shop-other-info {
  margin-top: 9px;
  margin-bottom: 30px;
}

.shop-other-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-info {
  border-bottom: 1px solid #bbb;
  h5 {
    font-size: 20px;
    display: inline-block;
  }
  h4 {
    font-size: 20px;
    display: inline-block;
  }
}

.web_page {
  margin-top: -14px;
}

//ねこカフェフィード//

.container-top-font {
  font-size: 29px;
  padding: 61px;          
  color: white;
  text-align:  center;
  height: 100px; 
}

.card.bg-info.col-md-5.text-center.mx-auto {
    color: white;
  }
  
  .name-shop {
    font-size:20px;
  }


  .address-shop {
    margin-left: -150px;
  }

  .description-shop {
    margin-top: -10px;
  }

  .change-shop {
    display: inline-block;
  }

  .edit-shop .delete-shop {
    font-size: 15px;
  }

// ねこカフェ投稿画像 //
  .shop-picture img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }

// フォロー・フォロワー数表示部 //
   .stats {
     margin: 5px 0;
   }


// フィード画面・お気に入り登録部分 //
.favorite-form {
  position: relative;
  vertical-align: bottom;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

ul.nav-item-home {
  padding-left: 30px;
  padding-top: 4px;
  margin-bottom: -5px;
}

ul.nav-item-about {
  padding-left: 30px;
  margin-top: 4px;
  margin-bottom: -5px;
}

ul.navbar-nav.icons {
  padding-top: 5px;
}

// ログイン後画面 //

.navbar-toggler {
  border-radius: 0px;
}

.dropdown-toggle {
  padding: 0;
}

//タイトル// 
.title-head {
  padding-top: 5px;
}

li.new_notification > a {
  color: red;
}

//トップページのねこ//

.image_cat {
  z-index: 100;
  height: 180px;
  width: 180px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.topcat2 {
  height: 180px;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
}