body {  
  background-color: #ffffff; 
  color: rgb(134, 134, 134);
  font-weight: bolder;
  font-family: pixel;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

a {
  pointer-events: auto;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

a:hover {
  text-decoration: none;
}

.icon::before {
  display: inline-block;
  margin-right: .5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//共通//
.dropdown {
  margin-right: 40px;
}

//ナビゲーションバーと被るため調整
body {
  padding-top: 75px;
}

ul.pf {
  margin-bottom: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.address-shop {
  font-size: 16px;
  margin-top: -8px;
  padding-left: 150px;
}

.catpia-header {
  margin-top: 90px;
  font-weight: bolder;
}


//-------------------------------☆
// CATPIAカルーセル かんたんログイン |
//-------------------------------☆

.easy-login {
  margin-top: -70px;
}

// CATPIA //
.catpia {
  margin-top: 50px;
  font-weight: bolder;
}

 //ユーザー編集画面



//ユーザー一覧ページ//


//ユーザー一覧ページ：プロフィール写真と名前の間隔調整//
.img-name {
  margin-left: 100px;
  margin-top: -35px;
  padding-bottom: 50px;
}

//ユーザー一覧ページ：プロフィール写真と名前の間隔調整//
.delete {
  margin-left: 170px;
  margin-top: -70px;
  padding-bottom: 40px;
}

h2-list {
  margin-top: 12px;
  margin-bottom: 10px;
}

/*--------------------------------------|
プロフィールページ：ネコカフェ一覧表示(Shop) */
//*=-------------------------------------|

.shops {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .description {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

//// -----------------トップページ（ログイン後） -------------------- /////
// 「ねこカフェを投稿する」ボタン
.btn-record {
  margin-top: 3em;
}

//// ねこカフェ登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

//-------------------------------☆
// ねこカフェ詳細ページ home/shops/* |
//-------------------------------☆

.shop-address-show {
  border-bottom: 1px solid #bbb;
}

.shop-web_page {
  border-bottom: 1px solid #bbb;
  margin-bottom: 7px;
}

.shop-description {
  border-bottom: 1px solid #bbb;
  margin-top: -24px;
}

.shop-title-recommended_points {
  margin-top: -29px;
  border-bottom: 1px solid #bbb;
}

.shop-points {
  padding-bottom: 6px;
  border-bottom: 1px solid #bbb;
}

.shop-rating {
  margin-top: -29px;
  padding-bottom: 6px;
  border-bottom: 1px solid #bbb;
}

.show-shop-other-info {
  margin-top: 9px;
  margin-bottom: 30px;
}

.shop-other-info {
  margin-top: 20px;
  margin-bottom: 20px;
}

.change-shop-show {
  margin-top: -20px;
}

//-------------------------------------☆
//ねこカフェフィード画面(ログイン後ホーム画面  |
//-------------------------------------☆
  
  .name-shop {
    font-size:20px;
    padding-top: 10px;
    padding-bottom: 2px;
  }

  .address-shop {
    padding-top: -10px;
    margin-left: -150px;
  }

  .description-shop {
    margin-top: -7px;
  }

  .change-shop {
    display: inline-block;
  }

  .edit-shop .delete-shop {
    font-size: 15px;
  }

  .favorite-form {
    margin-top: -5px;
    padding-bottom: -30px;
  }

//-------------------------------☆
// MY PAGE フォロー・フォロワー表示部 |
//-------------------------------☆
users.follow-user-show {
  text-align: center;
}

//-------------------------------☆
// FAVORITEページ                  |
//-------------------------------☆

.fav-shop-name {
  margin-top: 35px;
  margin-bottom: 30px;
}

.fav-shop-user {
  margin-top: 15px;
  margin-bottom: 10px;
}

// ねこカフェ投稿画像 //
  .shop-picture img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: -15px;
  }

// フォロー・フォロワー数表示部 //
   .stats {
     margin: 5px 0;
   }

   h4.profile-stats {
    display: inline-block;
    background: #ddb1b1; /*背景色*/
    padding: 0.4em;/*文字周りの余白*/
    color: white;/*文字を白に*/
    border-radius: 0.5em;/*角の丸み*/
   }


// フィード画面・お気に入り登録部分 //
.favorite-form {
  position: relative;
  vertical-align: bottom;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
  }
}

ul.nav-item-home {
  padding-left: 30px;
  padding-top: 4px;
  margin-bottom: -5px;
}

ul.nav-item-about {
  padding-left: 30px;
  margin-top: 4px;
  margin-bottom: -5px;
}

ul.navbar-nav.icons {
  padding-top: 5px;
}

// ログイン後画面 //

.navbar-toggler {
  border-radius: 0px;
}

.dropdown-toggle {
  padding: 0;
}

//タイトル// 
.title-head {
  padding-top: 5px;
}

//トップページのねこ//

.image_cat {
  z-index: 1100;
  height: 180px;
  width: 180px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.topcat2 {
  height: 180px;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
}

//---------------*
// ABOPUT ページ  |
//---------------*

.title-about {
  font: 'arial narrow', sans-serif;
  position: relative;
  color: white;
  background: #a6d1d3;
  padding: 0.5em 0.5em 0.5em 1.5em;
}

.title-about:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 900;
  position: absolute;
  left : 0.6em; /*左端からのアイコンまでの距離*/
}

// HOW TO USE
.title-use {
  position: relative;
  color: white;
  background: #a6d1d3;
  padding: 0.5em 0.5em 0.5em 1.5em;
}

.title-use:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 900;
  position: absolute;
  left : 0.6em; /*左端からのアイコンまでの距離*/
}

// 使い方A、B
ol.main-use {
  color: white;
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  font-size: 18px;
  padding: 1.5em 1.5em 0.5em 1.5em;
  margin-top: -10px;
}

ol.main-use li {
  position:relative;
  line-height: 30px;
  margin: 7px 0 10px 30px;
  padding: 5px 0 5px 20px;
  font-weight: bold;
  background: #a6d1d3;
}

ol.main-use li:before {
  position: absolute;
  left: -50px;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  background: #72a0c5;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol.main-use li.A:before {
  content: "A";
}
ol.main-use li.B:before {
  content: "B";
}
ol.main-use li:after {
  content:"";
  display: block;
  position: absolute;
  left: -10px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #72a0c5;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// 中線
.about-line {
  border: dashed 1px #72a0c5;
  margin-top: -10px;
}

// 各種機能
.use-content {
  margin-bottom: 30px;
}

// ホーム画面 フィード
.feed-home {
  color: #ffffff;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 0.8;/*行高*/
  background: #bccfda;/*背景色*/
  vertical-align: middle;
  border-radius: 25px
}

.feed-home:before {
  content: '●';
  color: white;
  margin-right: 8px;
}


// トップページ //
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}

//.page {
  //width: 100%;
  //height: 100px;
  //background: #fdfdfd;
  //font-family: 'Encode Sans Condensed', sans-serif;
  //font-weight: 600;
  //letter-spacing: 0.5em;
  //color: #212121;
//}

header {
  z-index: 100;
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #dbcfc7;
  color: #fff;
  margin-top: -70px;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: calc(100% - 45px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .5;
}
#nav-container * {
  visibility: visible;
}

// ハンバーガーボタン //
.button {
  //z-index: 1500;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 1;
  height: 16px;
  width: 20px;
  cursor: pointer;
  pointer-events: auto;
  top: 18px;
  right: 15px;
  width: 40px;
  height: 28px;
  padding-bottom: 7px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  z-index: 1000;
  display: block;
  width: 79%;
  height: 20px;
  background: rgb(255, 255, 255);
  transition: .2s;
}
.icon-bar + .icon-bar {
  margin-top: 3px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 25px;
  padding: 20px;
  width: 70%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 45px);
  background: #f7c3bf;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #5f909c;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
  margin-bottom: 200px;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(252, 252, 252);
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
}

span.user {
  margin-left: 45px;
}
span.comment {
  margin-left: 45px;
}
span.comment-create-at {
  margin-left: 45px;
}

.user-name {
  font-weight: lighter;
  padding-bottom: 10px;
}

.container.show.html.slim {
  background-color: rgb(255, 255, 255);
  color: rgb(161, 161, 161);
}

.container.shop.html.slim {
  background-color: rgb(255, 255, 255);
  color: rgb(134, 134, 134);
  height: 80px;
  text-align: center;
}

//*----------------------*
//ユーザーページ(MYPAGE)    *
//*----------------------*

.profile {
  display: inline-block;
  background: #b1cbdd; /*背景色*/
  padding: 0.4em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
}

// 投稿したねこカフェ部分のスラッシュ //
.user-show-post {
  position: relative;
  display: inline-block;
  padding: 0 45px;
}

.user-show-post:before {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color:#dbcfc7;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.user-show-post:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color:#dbcfc7;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.user-show-post:before {
  left:0;
}
.user-show-post:after {
  right: 0;
}

img {
  border-radius: 40px;
}

//フォント読み込み用//
@font-face {
  font-family: 'pixel';
  src: font-url('PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav-link {
  font-family: pixel;
  font-size: 20px;
  letter-spacing: 0.3em;
}

.gravatar-user-stats {
  margin-left: -190px;
}

//-------------*
//ローディング表示*
//-------------*
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 14px;
  font-size: 12px;
  background: rgb(117, 157, 180);
  color: rgb(117, 157, 180);
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  

  -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
  -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
  box-shadow: 120px 0 #fff, 240px 0 #fff;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}

.pace .pace-progress[data-progress-text="0%"]:after { right: -200px }
.pace .pace-progress[data-progress-text="1%"]:after { right: -198.14px }
.pace .pace-progress[data-progress-text="2%"]:after { right: -196.28px }
.pace .pace-progress[data-progress-text="3%"]:after { right: -194.42px }
.pace .pace-progress[data-progress-text="4%"]:after { right: -192.56px }
.pace .pace-progress[data-progress-text="5%"]:after { right: -190.7px }
.pace .pace-progress[data-progress-text="6%"]:after { right: -188.84px }
.pace .pace-progress[data-progress-text="7%"]:after { right: -186.98px }
.pace .pace-progress[data-progress-text="8%"]:after { right: -185.12px }
.pace .pace-progress[data-progress-text="9%"]:after { right: -183.26px }
.pace .pace-progress[data-progress-text="10%"]:after { right: -181.4px }
.pace .pace-progress[data-progress-text="11%"]:after { right: -179.54px }
.pace .pace-progress[data-progress-text="12%"]:after { right: -177.68px }
.pace .pace-progress[data-progress-text="13%"]:after { right: -175.82px }
.pace .pace-progress[data-progress-text="14%"]:after { right: -173.96px }
.pace .pace-progress[data-progress-text="15%"]:after { right: -172.1px }
.pace .pace-progress[data-progress-text="16%"]:after { right: -170.24px }
.pace .pace-progress[data-progress-text="17%"]:after { right: -168.38px }
.pace .pace-progress[data-progress-text="18%"]:after { right: -166.52px }
.pace .pace-progress[data-progress-text="19%"]:after { right: -164.66px }
.pace .pace-progress[data-progress-text="20%"]:after { right: -162.8px }
.pace .pace-progress[data-progress-text="21%"]:after { right: -160.94px }
.pace .pace-progress[data-progress-text="22%"]:after { right: -159.08px }
.pace .pace-progress[data-progress-text="23%"]:after { right: -157.22px }
.pace .pace-progress[data-progress-text="24%"]:after { right: -155.36px }
.pace .pace-progress[data-progress-text="25%"]:after { right: -153.5px }
.pace .pace-progress[data-progress-text="26%"]:after { right: -151.64px }
.pace .pace-progress[data-progress-text="27%"]:after { right: -149.78px }
.pace .pace-progress[data-progress-text="28%"]:after { right: -147.92px }
.pace .pace-progress[data-progress-text="29%"]:after { right: -146.06px }
.pace .pace-progress[data-progress-text="30%"]:after { right: -144.2px }
.pace .pace-progress[data-progress-text="31%"]:after { right: -142.34px }
.pace .pace-progress[data-progress-text="32%"]:after { right: -140.48px }
.pace .pace-progress[data-progress-text="33%"]:after { right: -138.62px }
.pace .pace-progress[data-progress-text="34%"]:after { right: -136.76px }
.pace .pace-progress[data-progress-text="35%"]:after { right: -134.9px }
.pace .pace-progress[data-progress-text="36%"]:after { right: -133.04px }
.pace .pace-progress[data-progress-text="37%"]:after { right: -131.18px }
.pace .pace-progress[data-progress-text="38%"]:after { right: -129.32px }
.pace .pace-progress[data-progress-text="39%"]:after { right: -127.46px }
.pace .pace-progress[data-progress-text="40%"]:after { right: -125.6px }
.pace .pace-progress[data-progress-text="41%"]:after { right: -123.74px }
.pace .pace-progress[data-progress-text="42%"]:after { right: -121.88px }
.pace .pace-progress[data-progress-text="43%"]:after { right: -120.02px }
.pace .pace-progress[data-progress-text="44%"]:after { right: -118.16px }
.pace .pace-progress[data-progress-text="45%"]:after { right: -116.3px }
.pace .pace-progress[data-progress-text="46%"]:after { right: -114.44px }
.pace .pace-progress[data-progress-text="47%"]:after { right: -112.58px }
.pace .pace-progress[data-progress-text="48%"]:after { right: -110.72px }
.pace .pace-progress[data-progress-text="49%"]:after { right: -108.86px }
.pace .pace-progress[data-progress-text="50%"]:after { right: -107px }
.pace .pace-progress[data-progress-text="51%"]:after { right: -105.14px }
.pace .pace-progress[data-progress-text="52%"]:after { right: -103.28px }
.pace .pace-progress[data-progress-text="53%"]:after { right: -101.42px }
.pace .pace-progress[data-progress-text="54%"]:after { right: -99.56px }
.pace .pace-progress[data-progress-text="55%"]:after { right: -97.7px }
.pace .pace-progress[data-progress-text="56%"]:after { right: -95.84px }
.pace .pace-progress[data-progress-text="57%"]:after { right: -93.98px }
.pace .pace-progress[data-progress-text="58%"]:after { right: -92.12px }
.pace .pace-progress[data-progress-text="59%"]:after { right: -90.26px }
.pace .pace-progress[data-progress-text="60%"]:after { right: -88.4px }
.pace .pace-progress[data-progress-text="61%"]:after { right: -86.53999999999999px }
.pace .pace-progress[data-progress-text="62%"]:after { right: -84.68px }
.pace .pace-progress[data-progress-text="63%"]:after { right: -82.82px }
.pace .pace-progress[data-progress-text="64%"]:after { right: -80.96000000000001px }
.pace .pace-progress[data-progress-text="65%"]:after { right: -79.1px }
.pace .pace-progress[data-progress-text="66%"]:after { right: -77.24px }
.pace .pace-progress[data-progress-text="67%"]:after { right: -75.38px }
.pace .pace-progress[data-progress-text="68%"]:after { right: -73.52px }
.pace .pace-progress[data-progress-text="69%"]:after { right: -71.66px }
.pace .pace-progress[data-progress-text="70%"]:after { right: -69.8px }
.pace .pace-progress[data-progress-text="71%"]:after { right: -67.94px }
.pace .pace-progress[data-progress-text="72%"]:after { right: -66.08px }
.pace .pace-progress[data-progress-text="73%"]:after { right: -64.22px }
.pace .pace-progress[data-progress-text="74%"]:after { right: -62.36px }
.pace .pace-progress[data-progress-text="75%"]:after { right: -60.5px }
.pace .pace-progress[data-progress-text="76%"]:after { right: -58.64px }
.pace .pace-progress[data-progress-text="77%"]:after { right: -56.78px }
.pace .pace-progress[data-progress-text="78%"]:after { right: -54.92px }
.pace .pace-progress[data-progress-text="79%"]:after { right: -53.06px }
.pace .pace-progress[data-progress-text="80%"]:after { right: -51.2px }
.pace .pace-progress[data-progress-text="81%"]:after { right: -49.34px }
.pace .pace-progress[data-progress-text="82%"]:after { right: -47.480000000000004px }
.pace .pace-progress[data-progress-text="83%"]:after { right: -45.62px }
.pace .pace-progress[data-progress-text="84%"]:after { right: -43.76px }
.pace .pace-progress[data-progress-text="85%"]:after { right: -41.9px }
.pace .pace-progress[data-progress-text="86%"]:after { right: -40.04px }
.pace .pace-progress[data-progress-text="87%"]:after { right: -38.18px }
.pace .pace-progress[data-progress-text="88%"]:after { right: -36.32px }
.pace .pace-progress[data-progress-text="89%"]:after { right: -34.46px }
.pace .pace-progress[data-progress-text="90%"]:after { right: -32.6px }
.pace .pace-progress[data-progress-text="91%"]:after { right: -30.740000000000002px }
.pace .pace-progress[data-progress-text="92%"]:after { right: -28.880000000000003px }
.pace .pace-progress[data-progress-text="93%"]:after { right: -27.02px }
.pace .pace-progress[data-progress-text="94%"]:after { right: -25.16px }
.pace .pace-progress[data-progress-text="95%"]:after { right: -23.3px }
.pace .pace-progress[data-progress-text="96%"]:after { right: -21.439999999999998px }
.pace .pace-progress[data-progress-text="97%"]:after { right: -19.58px }
.pace .pace-progress[data-progress-text="98%"]:after { right: -17.72px }
.pace .pace-progress[data-progress-text="99%"]:after { right: -15.86px }
.pace .pace-progress[data-progress-text="100%"]:after { right: -14px }


.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  box-shadow: inset 0 0 0 2px rgb(134, 172, 194), inset 0 0 0 7px #FFF;
  border-radius: 10px;
}

.pace.pace-inactive {
  display: none;
}

//-----------------*
//ハンバーガーメニュー *
//-----------------*

#ham-menu {
  background-color: rgb(224, 203, 203); /*メニュー背景色*/
  box-sizing: border-box;
  height: 100%;
  padding: 10px 40px; /*メニュー内左右上下余白*/
  position: fixed;
  right: -300px; /*メニュー横幅 width と合わせる*/
  top: 0;
  transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
  width: 300px; /*メニュー横幅*/
  z-index: 1000;
  //pointer-events: none;
}

#menu-background {
  background-color: #333; /*黒背景*/
  display: block;
  height: 100%;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

#menu-icon {
  background-color: #dbcfc7; /*アイコン部分背景色*/
  border-radius: 0 0 0 10px; /*左下角丸*/
  color: rgb(255, 255, 255); /*アイコン（フォント）色*/
  cursor: pointer;
  display: block;
  font-size: 35px; /*アイコン（フォント）サイズ*/
  height: 54px; // 出っ張っている部分の色/
  line-height: 50px; /*縦位置中央化*/
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px; /*アイコン横幅*/
  transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
  z-index: 1000;
  //pointer-events: none;
}

#menu-cb {
  display: none; /*チェックボックス本体は消しておく*/
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
  transform: translate(-300px); /*メニュー本体横幅 width と合わせる*/
}

#menu-cb:checked ~ #menu-background {
  opacity: 0.5;
  z-index: 999;
  pointer-events: none;
}