body {
  padding-top: 58px;
  padding-bottom: 3rem;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.carousel-item {
  height: 80vh;
}

.carousel-item > img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: none !important;
  max-width: none !important;
  min-height: 100%;
  min-width: 100%;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}