// 採用担当者様 ログインフォーム //
.recruit-login {
  background-color: rgb(233, 241, 243);
  margin-bottom: 30px;
  padding: 20px;
  border: solid 3px #8d8d8d;
}

.title-form {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.title-form-2 {
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 20px;
}

.description-form {
  margin-bottom: 20px;
}

.recruit-account {
  margin-top: 20px;
}
