template#app
  hooper[:settings="hooperSettings"]
    slide
      .images.img1
        = image_tag "ca-cat1.jpg"
    slide
      .images.img2
        = image_tag "ca-cat2.jpg"
    slide
      .images.img3
        = image_tag "ca-cat3.jpg"
    slide
      .images.img4
        = image_tag "ca-cat4.jpg"

script src="https://cdn.jsdelivr.net/npm/vue"
link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.css"
script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"

javascript:
  new Vue({
      el: "#app",
      components: {
          Hooper: window.Hooper.Hooper,
          Slide: window.Hooper.Slide,
      },
      data() {
        return {
          hooperSettings: {
              infiniteScroll: true,
              centerMode: true,
              autoPlay: true,
              playSpeed: 1800,
              touchDrag: true
          }
        }
      }
  })
